---
import { ArrowUpRightIcon } from "@phosphor-icons/react";
import "../styles/global.css";
import { ArrowSquareOutIcon } from "@phosphor-icons/react/dist/ssr";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/dami.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dami Ojetunji - Designer.</title>
  </head>
  <body
    class="h-[100dvh] p-7 flex flex-col items-center justify-center bg-[#F7F7F7]"
  >
    <div class="sm:w-150">
      <img src="/dami.png" class="w-11 h-11 mb-5" />
      <div class="space-y-2.5">
        <p class="text-xs leading-5">
          Dami is a multidisciplinary product designer, finding innovative ways
          to connect user, market, and product through thoughtful research and
          design strategies.
        </p>

        <p class="text-xs leading-5">
          Currently designing at <a
            href="https://mercurie.ng"
            class="inline-flex gap-0.5 items-center"
            >Mercurie {" "}<ArrowSquareOutIcon
              color="#00000066"
              weight="bold"
              className="-translate-y-px"
              size={14}
            /></a
          > Previously <a
            class="inline-flex gap-0.5 items-center"
            href="https://www.tempo.new"
            >Tempo Labs (YC S23){" "}<ArrowSquareOutIcon
              color="#00000066"
              weight="bold"
              className="-translate-y-px"
              size={14}
            /></a
          > I also founded <a
            class="inline-flex gap-0.5 items-center"
            href="https://jointabs.com"
            >Tabs{" "}<ArrowSquareOutIcon
              color="#00000066"
              weight="bold"
              className="-translate-y-px"
              size={14}
            /></a
          > a curated platform platform for discovering and learning from African
          digital products.
        </p>

        <p class="text-xs font-light text-black/50 leading-5">
          This portfolio is currently under construction—while that’s happening,
          you can view my <a
            href="https://damiojetunji.framer.website"
            class="!text-black/50 underline">previous portfolio</a
          >, find me on <a
            href="https://www.linkedin.com/in/damiojetunji/"
            class="!text-black/50 underline">LinkedIn</a
          >, <a
            href="https://x.com/damiojetunji"
            class="!text-black/50 underline">X</a
          > or say
          <a href="mailto:hey@damiojetunji.com" class="!text-black/50 underline"
            >hey@damiojetunji.com</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
